@charset "UTF-8";
/* CSS Document */

img{display:none;}

#container{display:none;}


body{rgb(213,213,213);}

div#block{background:#fff;
			width:800px;
			height:300px;
			margin:0 auto;
			margin-top:10px;
			}
			
div#block h1{color:rgb(15,65,111);
			font-size:2em;
			padding-left:10px;
			padding-top:50px;
			font-family:Scada;
			margin-bottom:10px;
			text-align:center;
			}
			
div#block p{font-family:Scada;
			font-size:1.5em;
			text-align:center;
			}