@charset "UTF-8";
/* CSS Document */

#ribbon{display:none;}

#ribbon_small{display:none;}

#ribbon_medium{display:block;}

#people{display:none;}

#products{display:none;}

#partners{display:none;}
	
#container{width:940px;
			margin:0 auto;}
			
	
/*#########################content_start#####################*/

#content{	
			width:940px;
			min-height:480px;
			margin:0 auto;
			text-align:center;
		
		}
		
#mission{background:#fff;
		width:660px;
		height:412px;
		float:left;
		margin-right:10px;
		margin-bottom:10px;
		position:relative;		
					}
					
#mission #main{width:100%;
				height:100%;}
					
#mission_area{background:rgba(15,65,111,.6);
				width:325px;
				height:100%;
				position:absolute;
				right:0;}
				
#mission_area h1{color:#eee;
					font-family:Scada;
					font-size:.9em;
					padding-top:10px;
					padding-right:5px;
					padding-left:5px;
					margin-bottom:43px;}
					
#mission_area p{color:#fff;
				font-family:Scada;
				font-size:.8em;
				padding-right:5px;
				padding-left:5px;
				margin-bottom:62px;
				position:relative;
				z-index:3000;}
				
#ribbon_medium{position:absolute;
					right:0;
					top:30px;}
					

					
#newsfeed{
		width:270px;
		height:635px;
		float:left;
		float:right;
		margin-bottom:10px;
					}
					
#newsfeed #topbar{background:rgb(15,65,111);
					width:100%;
					height:27px;
					color:#fff;
					text-align:left;
					font-family:Scada;
					font-size:.9em;
					margin-bottom:5px;
					float:left;
					}
					
#newsfeed #topbar p{padding:6px 5px;
					
					}
					
.holder{
		width:100%;
		height:602px;
		overflow:scroll;}
		
.scroll{background:rgb(200,200,200);
		width:100%;
		height:125px;}
		
.newsarea{background:#fff;
			width:100%;
			height:120px;
			
			}
			
.newsarea p.story{text-align:left;
					padding:2px;
					font-family:Scada;
					font-size:.9em;}
			
			
.date{background:rgb(15,65,111);
		width:30px;
		height:62.5%;
		color:#fff;
		font-family:Scada;
		font-size:.8em;
		padding-top:45px;
		float:left;
		text-align:center !important;
		margin-right:4px;}
			
					
					
.box{
		width:213px;
		height:213px;
		float:left;
		margin-right:10px;
		margin_bottom:10px;
		position:relative;
		text-align:center;
		
		}
		
.box img{width:100%;
			height:100%;}
		
.stripe{background:rgb(15,65,111);
		width:100%;
		height:38px;
		position:absolute;
		bottom:0;}
		
.stripe a{color:#fff;
			font-family:Scada;
			font-size:1.3em;
			display:inline-block;
			padding-top:6px;
			width:100%;
			height:100%;
			-moz-transition:all .6s ease;
			-webkit-transition:all .6s ease;
			-ms-transition:all .6s ease;
			transition:all .6s ease;}
			
.stripe a:hover{color:rgb(15,65,111);
					background:#fff;}
					
/*#########################content_end#####################*/