* {
  padding: 0;
  margin: 0;
}
a img {
  border: 0;
}
a {
  outline: 0;
  text-decoration: none;
  color: #003366;
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
em {
  font-style: normal;
  font-weight: normal;
}
.clearfix {
  clear: both;
}
html,
body {
  height: 100%;
  font-family: Roboto, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*Universal LESS*/
.current {
  background: #003366;
  color: #fff;
}
.container,
.flexContainer {
  padding: 10px;
  min-height: 80%;
}
.container h1,
.flexContainer h1 {
  color: #003366;
  margin-top: 5px;
}
.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 0;
}
button {
  background: #003366;
  overflow: hidden;
  color: #fff;
  border: 1px solid #bebebe;
  border-radius: 5px;
  outline: none;
  padding: 6px 10px;
  cursor: pointer;
}
button:focus {
  background: #fff;
  color: #003366;
}
/*Index LESS*/
#owiLogo {
  width: 150px;
}
.option {
  background: #003366;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#003366, #001733);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#003366, #001733);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#003366, #001733);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#003366, #001733);
  /* Standard syntax */
  height: 120px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  border: 1px solid #c8c8c8;
}
.option a {
  color: #fff;
  display: inline-block;
  width: 100%;
  height: 120px;
}
.option:focus {
  background: #fff;
  color: #003366;
}
.option p {
  padding-top: 50px;
  font-weight: 300;
}
/*People LESS*/
.person {
  text-align: center;
  width: 226px;
  margin: 10px 10px 0 0;
  padding-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #bebebe;
}
.person img {
  width: 100%;
}
.person button {
  margin-top: 5px;
}
/*Professional Pages LESS*/
.contactSide p,
.infoSide p {
  margin-top: 5px;
  text-align: left;
}
.contactSide {
  min-height: 100px;
  text-align: center;
  border-bottom: 1px solid #bebebe;
  padding-bottom: 10px;
}
.contactSide button {
  margin-bottom: 10px;
}
.contactSide button a {
  color: #fff;
}
.contactSide img {
  border-radius: 10px;
  width: 250px;
}
#mobileContact {
  color: #003366;
  margin-top: 10px;
  text-align: left;
}
.infoSide {
  min-height: 100px;
  margin-top: 10px;
}
.infoSide a {
  color: #003366;
  font-weight: 700;
}
.infoSide h3 {
  color: #003366;
  margin-top: 10px;
}
#education,
#areas,
#currentwork,
#publications {
  border-bottom: 1px solid #bebebe;
  padding-bottom: 10px;
}
#education a:hover,
#areas a:hover,
#currentwork a:hover,
#publications a:hover {
  text-decoration: underline;
  cursor: pointer;
}
#publications p,
#presentations p {
  margin-bottom: 15px;
}
#publications h3,
#presentations h3 {
  margin-bottom: 10px;
}
#publications h4,
#presentations h4 {
  font-weight: 700;
  margin: 0;
  color: #003366;
}
/*Careers LESS*/
#benefits h2,
#finding_jobs h2,
#interns h2 {
  color: #003366;
  margin-bottom: 5px;
}
#benefits h3,
#finding_jobs h3,
#interns h3 {
  margin-top: 15px;
}
#benefits a:hover,
#finding_jobs a:hover,
#interns a:hover {
  text-decoration: underline;
}
#benefits p,
#finding_jobs p,
#interns p {
  line-height: 1.5em;
}
#interns {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  button:hover {
    background: #fff;
    color: #003366;
  }
  /*Index LESS*/
  .option {
    width: 48%;
    float: left;
    margin: 10px 10px 0 0;
  }
  .option:hover {
    background: #fff;
  }
  .option:hover a {
    color: #003366;
  }
  /*People LESS*/
  .person button:hover {
    background: #fff;
    color: #003366;
  }
  /*Professional Pages LESS*/
  .contactSide {
    text-align: left;
    width: 24%;
    float: left;
    border-bottom: none;
    border-right: 1px solid #bebebe;
  }
  .contactSide img {
    width: 95%;
  }
  .infoSide {
    width: 74%;
    float: right;
    margin-top: 0;
  }
  #mobileContact {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .container,
  .flexContainer {
    width: 960px;
    margin: 0 auto;
  }
  .flexContainer {
    justify-content: flex-start;
  }
}
