<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8" />

<!-- ############### VIEWPORT META TAG ############### -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<!-- ################################################# -->
{% block title_description %}{% endblock title_description %}

<meta name="keywords" content="data center, USGS, science, geospatial, applications, data warehouse, dynamic, html, java programming, Oracle, web services, science support, warehousing, database, relational, transactional, security, charting, graphing, archiving"/>

<meta name="author" content="Marty Wernimont"/>

<meta name="publisher" content="U.S. Geological Survey"/>

<meta name="created" content="20081020"/>

<meta name="revised" content="yyyymmdd"/>

<meta HTTP-EQUIV="expires" CONTENT="0"/>

<meta http-equiv="X-UA-Compatible" content="IE=11">


<link href="{{ url_for('static', filename= 'css/cida.css')  }}" rel="stylesheet" type="text/css" />

<link href="{{ url_for('static', filename= 'css/common.css')  }}" rel="stylesheet" type="text/css" />

{% block page_css %}{% endblock %}
{% block page_static_scripts %}{% endblock %}

<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>

<link rel="icon" type="image/ico" href="{{ url_for('static', filename= 'images/favicon.ico')  }}"  />

<!--[if lt IE 9]>
<link href="css/ie_fix.css" rel="stylesheet" type="text/css">
<div id="block">
<h1>We apologize, but this site does not support Internet Explorer versions lower than 9.0</h1>
<p>Other supported browsers are Firefox, Chrome, and Safari.</p>
</div>
<![endif]-->

<script type="text/javascript" src="{{ url_for('static', filename= 'js/jquery.js')  }}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ GOOGLE_ANALYTICS_CODE }}', 'usgs.gov');
  ga('send', 'pageview');

</script>



<script type="application/javascript" src="https://www2.usgs.gov/scripts/analytics/usgs-analytics.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename= 'js/resize.js')  }}"></script>


<script>

//<page specific script>
{% block page_specific_script %}{% endblock page_specific_script %}


//Initial load of page
$(document).ready(sizeContent);

//Every resize of window
$(window).resize(sizeContent);

</script>


</head>

<body>

<!-- BEGIN USGS Header Template -->

			<div id="usgscolorband">

				<div id="usgsheader">

					<div id="usgsidentifier">
						<a href="https://www.usgs.gov/" target="_blank"><img src="{{ url_for('static', filename="images/usgslogo.jpg") }}" alt="USGS - science for a changing world" title="U.S. Geological Survey Home Page"/></a>
					</div><!--usgsidentifier-->

					<img src="{{ url_for('static', filename="images/banner.png") }}" alt="banner"/>

					<div id="usgsccsabox">

						<div id="usgsccsa">
							<a href="https://www.usgs.gov/">USGS Home</a>
							<br /><a href="https://answers.usgs.gov/cgi-bin/gsanswers?tmplt=2">Contact USGS</a>
							<br /><a href="https://search.usgs.gov/">Search USGS</a>
							<br />
						</div><!--usgsccsa-->

					</div><!--usgsccsabox-->

				</div><!--usgsheader-->
			</div><!--colorband-->

			<!-- END USGS Header Template -->

<nav><!-- navstart -->

    <div id="desktopNav">

        <img id="mobileBurger" src="{{ url_for('static', filename="images/mobileburger.png") }}" alt="mobile nav menu"/>

        <a href="{{ url_for('home-canonical') }}">
            <img id="owiLogoSmall" src="{{ url_for('static', filename="images/small-blue.png") }}" alt="OWI logo"/>
        </a>

        <ul id="navigation">
            <a id="people" href="{{ url_for('people-canonical') }}"><li>People</li></a>
            <a href="{{ url_for('products-canonical') }}"><li>Products</li></a>
            <a href="{{ url_for('partners-canonical') }}"><li>Partners</li></a>
            <a href="{{ url_for('careers-canonical') }}"><li>Careers</li></a>
            <a href="https://owi.usgs.gov/blog"><li>Blog</li></a>
        </ul>

    </div>

</nav><!-- navend -->


   {% block page_content %}{% endblock page_content%}


<!-- BEGIN USGS Footer Template -->

        <div id="usgsfooter">

        	<p id="usgsfooterbar">
                <a href="https://www.usgs.gov/laws/accessibility.html" title="Accessibility Policy (Section 508)" target="_blank">Accessibility</a>
                <a href="https://www.usgs.gov/foia/" title="Freedom of Information Act" target="_blank">FOIA</a>
                <a href="https://www.usgs.gov/laws/privacy.html" title="Privacy policies of the U.S. Geological Survey." target="_blank">Privacy</a>
                <a href="https://www.usgs.gov/laws/policies_notices.html" title="Policies and notices that govern information posted on USGS Web sites." target="_blank">Policies and Notices</a>

			</p><!--usgsfooterbar-->


		<p id="usgsfootertext">

    		<a href="https://www.usa.gov/" alt="USA.gov logo" title="USAGov: Government Made Easy" width="90" height="26" target="_blank"><img id="usa" src="{{ url_for('static', filename="images/usa_gov.png") }}" alt="usa_gov pic"/></a>

    		<a href="https://www.doi.gov/" target="_blank">U.S. Department of the Interior</a> |

			<a href="https://www.usgs.gov/" target="_blank">U.S. Geological Survey</a> |

			<a href="https://www.doioig.gov/" target="_blank">DOI Inspector General</a>

    		<p style="margin: 5px 0 5px 0; padding-left: 5px;">URL: https://owi.usgs.gov</p>

            <p style="margin: 5px 0 5px 0; padding-left: 5px;">Contact Information: <a href="mailto:owi@usgs.gov?Subject=OWI%20Website" target="_top">owi@usgs.gov</a></p>

    		<p style="margin: 5px 0 5px 0; padding-left: 5px;">Page last modified: 08/23/2016</p>

    	</p><!--usgsfootertext-->

</div><!--usgsfooter-->

<!-- END USGS Footer Template -->​

<script type="text/javascript">
    $('#mobileBurger').on('click', function(){
       $('#navigation').toggle('slow');
    });

    $(function() {
        $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('current');
    });

</script>




</body>
</html>

