<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8" />

<!-- ############### VIEWPORT META TAG ############### -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<!-- ################################################# -->
{% block title_description %}{% endblock title_description %}

<meta name="keywords" content="data center, USGS, science, geospatial, applications, data warehouse, dynamic, html, java programming, Oracle, web services, science support, warehousing, database, relational, transactional, security, charting, graphing, archiving"/>

<meta name="author" content="Marty Wernimont"/>

<meta name="publisher" content="U.S. Geological Survey"/>

<meta name="created" content="20081020"/>

<meta name="revised" content="yyyymmdd"/>

<meta HTTP-EQUIV="expires" CONTENT="0"/>

<meta http-equiv="X-UA-Compatible" content="IE=11">


<link href="{{ url_for('static', filename= 'css/cida.css')  }}" rel="stylesheet" type="text/css" />

<link href="{{ url_for('static', filename= 'css/common.css')  }}" rel="stylesheet" type="text/css" />

{% block page_css %}{% endblock %}
{% block page_static_scripts %}{% endblock %}

<link href='//fonts.googleapis.com/css?family=Scada:400,700' rel='stylesheet' type='text/css'>

<link rel="icon" type="image/ico" href="{{ url_for('static', filename= 'images/spike.ico')  }}"  />

<!--[if lt IE 9]>
<link href="css/ie_fix.css" rel="stylesheet" type="text/css">
<div id="block">
<h1>We apologize, but this site does not support Internet Explorer versions lower than 9.0</h1>
<p>Other supported browsers are Firefox, Chrome, and Safari.</p>
</div>
<![endif]-->

<script type="text/javascript" src="{{ url_for('static', filename= 'js/jquery.js')  }}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ GOOGLE_ANALYTICS_CODE }}', 'usgs.gov');
  ga('send', 'pageview');

</script>

<!-- <script type="application/javascript" src="http://www.usgs.gov/scripts/analytics/usgs-analytics.js"></script> -->

<script type="text/javascript" src="{{ url_for('static', filename= 'js/resize.js')  }}"></script>


<script>

//<page specific script>
{% block page_specific_script %}{% endblock page_specific_script %}


//Initial load of page
$(document).ready(sizeContent);

//Every resize of window
$(window).resize(sizeContent);

</script>


</head>

<body>


<div id="container">

<header>

    <div id="usgslogo">
    <a href="http://www.usgs.gov/" target="_blank"><img alt="USGS Logo" src="{{ url_for('static', filename= 'images/usgslogo.jpg')  }}" /></a>
    </div><!-- usgslogo -->

 	<div id="banner">
    	<img alt="Site Banner" src="{{ url_for('static', filename= 'images/banner.png')  }}"/>
    </div><!-- banner -->

    <div id="headernav">

        <ul>
           <li><a href="http://www.usgs.gov/" target="_blank">USGS Home</a></li>
           <li><a href="http://www.usgs.gov/ask/index.php" target="_blank">Contact USGS</a></li>
           <li><a href="http://search.usgs.gov/" target="_blank">Search USGS</a></li>
        </ul>

    </div><!-- headernav -->

</header>

<nav><!-- navstart -->

	<h1 id="homelink"><a href="{{ url_for('home-canonical') }}">Office of Water Information</a></h1>

    <ul>
        <li><a href="{{ url_for('blog') }}">BLOG</a> </li>
        <li><a href="{{ url_for('people-canonical') }}">PEOPLE</a>
        	<ul>
            	<li><a href="{{ url_for('people-canonical') }}">Employees</a></li>
                <li><a href="{{ url_for('careers-canonical') }}">Careers</a></li>
            </ul>
        </li>
        <li><a href="{{ url_for('products-canonical') }}">PRODUCTS</a></li>
        <li><a href="{{ url_for('partners-canonical') }}">PARTNERS</a></li>
        <li><a href="{{ url_for('datascience-canonical') }}">DATA SCI</a></li>
        <li><a href="{{ url_for('examples') }}">TRAINING</a></li>
        <li><a href="{{ url_for('videos') }}">VIDEOS</a></li>
        <li><a href="{{ url_for('r-canonical') }}">USGS-R</a>
        	<ul>
            	<li><a href="{{ url_for('r-canonical') }}">HOME</a></li>
                <li><a href="{{ url_for('r-about-canonical') }}">ABOUT</a></li>
            </ul>
        </li>
    </ul>


</nav><!-- navend -->

<!-- mobile_html_start -->

<div id="mobileheader">

	<a href="index.html"><img alt="Mobile Logo" id="mobilelogo" src="{{ url_for('static', filename= 'images/mobile_icons/mobilelogo.png')  }}"/></a>


<div id="mobilenav">


    <div id="mobileicons">
    <ul>
   <li> <a href="index.html"><img src="{{ url_for('static', filename= 'images/mobile_icons/homeicon.png')  }}" alt="Home Icon"/></a></li>


            	<li><a href="people.html"><img src="{{ url_for('static', filename= 'images/mobile_icons/people_mobile_icon.png')  }}" alt="People Icon"/></a>
                	<ul>
                    	<li><a href="people.html">Employees</a></li>
                        <li><a href="careers.html">Careers</a></li>
                    </ul>
                </li>


          <li> <a href="products.html"><img src="{{ url_for('static', filename= 'images/mobile_icons/products_icon01.png')  }}" alt="Products Icon"/></a></li>

            <li><a href="partners.html"><img src="{{ url_for('static', filename= 'images/mobile_icons/partners_icon.png')  }}" alt="Partners Icon"/></a></li>
            </ul>

        </div><!-- mobileicons -->

</div><!-- mobilenav -->

</div><!-- mobileheader -->

<!-- mobile_html_end -->

   {% block page_content %}{% endblock page_content%}


<footer>

<!--<div id="top">
    <a href="http://www.usgs.gov/" target="_blank">USGS Home</a>
    <a href="http://water.usgs.gov/" target="_blank">Water Resources</a>
    <a href="http://biology.usgs.gov/" target="_blank">Biology</a>
    <a href="http://www.usgs.gov/climate_landuse/" target="_blank">Geography</a>
    <a href="http://geology.usgs.gov/index.htm" target="_blank">Geology</a>
    <a href="http://www.usgs.gov/ngpo/" target="_blank">Geospatial</a>
</div>-->


<div id="middle">
    <a href="http://www.usgs.gov/laws/accessibility.html" target="_blank">Accessibility</a>
    <a href="http://www.usgs.gov/foia/" target="_blank">FOIA</a>
    <a href="http://www.usgs.gov/laws/privacy.html" target="_blank">Privacy</a>
    <a href="http://www.usgs.gov/laws/policies_notices.html" target="_blank">Policies and Notices</a>
</div><!--middle-->


<div id="bottom">

    <a href="http://www.doi.gov/index.cfm" target="_blank">U.S. Department of the Interior</a> | <a href="http://www.usgs.gov/" target="_blank">U.S. Geological Survey</a>


    <p>URL: {% block footer_url %}{% endblock footer_url %}</p>



    <p>Contact Information: <a href="mailto:cida_webmaster@usgs.gov?Subject=Hello%20again" target="_top">cida_webmaster@usgs.gov</a></p>

    <p>Page last modified: <script>
document.write(document.lastModified);
</script></p>

<div id="usa_gov">

	<a href="http://www.usa.gov/" target="_blank"><img src="{{ url_for('static', filename= 'images/usa_gov.png')  }}" alt="usa_gov pic"/></a>

</div>

<div id="take_pride">

    <a href="http://volunteer.gov/" target="_blank"><img src="{{ url_for('static', filename= 'images/take_pride.png')  }}" alt="take_pride pic"/></a>

</div>

</div><!--bottom-->




</footer>



</div><!--container-->


</body>
</html>

