{% extends 'base.html' %}

{% block title_description %}
<title>News about the USGS Office of Water Information</title>

<meta name="description" content="Recent activities and announcements at the USGS Office of Water Information."/>
{% endblock title_description %}

{% block page_specific_script %}
{% endblock page_specific_script %}

{% block page_content %}

<div id="content">

<h1>News from the Office of Water Information</h1>
<main>

{% for post in posts %}
    <h2>{{ post['title'] }}</h2>
    {{ post['content']|safe }}
{% endfor %}

</main>
</div>
{% endblock page_content %}
{% block footer_url %}{{ url_for('people-canonical') }}{% endblock footer_url %}