{% extends 'base.html' %}

{% block page_content %}

<div id="content">

	<div id="benefits">
    
    	<h1 id="mobile"><strong>Why Work for CIDA?</strong></h1>
    	
        <h1><strong>Why is it great to work for the Center for Integrated Data Analytics?</strong></h1>
        
        <p class="topTitle"><strong>Achieve a global impact:</strong></p> <p>CIDA projects further the understanding of earth sciences, enabling scientists, policy-makers, and citizens to make informed decisions about the environment.</p>
        
        <p class="topTitle"><strong>Open Source:</strong></p> 
        <p>CIDA uses and contributes to a large variety of standards-based open-source projects (e.g., <a href="http://openlayers.org/" target="_blank">OpenLayers</a>, <a href="http://www.unidata.ucar.edu/software/thredds/current/tds/" target="_blank">THREDDS</a>, <a href="http://geoserver.org/" target="_blank">GeoServer</a>, <a href="http://www.geotools.org/" target="_blank">GeoTools</a>, and <a href="http://52north.org/" target="_blank">52North</a>).</p>
        
        <p class="topTitle"><strong>Agile Software Development Methodology:</strong></p> 
        <p>CIDA's management team incorporates feedback from developers to improve our methodology. Regular interaction with clients and project leaders generates tangible, reasonable implementation goals.</p>
        
        <p class="topTitle"><strong>Continuous integration infrastructure:</strong></p> <p>Eliminates the busy work of building, testing, and deploying, freeing you up to write great software.</p>
        
        <p class="topTitle"><strong>Dedicated Administrative Staff:</strong></p> <p>Collaborate with dedicated System Administrator and Database Administrator staff to achieve administrative-level requirements so that you can focus on development.</p>
        
        <p class="topTitle"><strong>Professional development:</strong></p> <p>Paid travel to conferences, training opportunities, and meetings with collaborators.</p>
        
        <p class="topTitle"><strong>Publish your work:</strong></p> <p>CIDA supports employee publications in peer-reviewed journals and official USGS releases.</p>
        
        <p class="topTitle"><strong>Work with world class scientists:</strong></p> <p>Project work includes international and domestic collaborations as part of unique and exciting projects.</p>
        
        <p class="topTitle"><strong>Workplace:</strong></p> <p>Casual work environment, healthy work-life balance, opportunity to work remotely.</p>
        
        <p class="topTitle"><strong>Benefits:</strong></p> <p>Excellent retirement programs, health insurance, holiday pay, sick leave, vacation time, and more!</p>
        
        <p>See <a href="http://www.usgs.gov/humancapital/pb/" target="_blank"><strong>USGS New Hire Pay and Benefits Information</strong></a> for more benefits information.</p>
        
    </div><!--benefits-->
    
    <div id="finding_jobs">
    
    	<h2><strong>Finding Jobs</strong></h2>
        
        <p>To be notified of upcoming openings, or to ask questions, please contact <a href="people/jlucido.html">Jessica Lucido</a>.</p>
        
        <p><a href="https://www.usajobs.gov/JobSearch/Search/GetResults?OrganizationID=IN08" target="_blank">USA Jobs</a> - Federal job listings</p>
        
    </div><!--finding_jobs-->
    
    <div id="interns">
    
    	<h2><strong>Student Resources</strong></h2>
        
        <p>Looking for an internship with the USGS Center for Integrated Data Analytics or elsewhere in the federal government? (<a href="http://www.usgs.gov/humancapital/sw/studentandrecentgrads.html" target="_blank">Read more here</a>)</p>
        
        <p>Looking to work outdoors within the federal government? (<a href="https://youthgo.gov/" target="_blank">Read more here</a>)</p>
    
    </div><!--interns-->



	
        
</div><!--content-->

{% endblock page_content %}
