{% extends 'base.html' %}

{% block page_content %}

<div class="container">

	<div id="benefits">
    	
        <h2><strong>Why is it great to work for the Office of Water Information?</strong></h2>
        
        <h3><strong>Achieve a global impact:</strong></h3> <p>OWI projects further the understanding of earth sciences, enabling scientists, policy-makers, and citizens to make informed decisions about the environment.</p>
        
        <h3><strong>Open Source:</strong></h3>
        <p>OWI uses and contributes to a large variety of standards-based open-source projects (e.g., <a href="http://openlayers.org/" target="_blank">OpenLayers</a>, <a href="http://www.unidata.ucar.edu/software/thredds/current/tds/" target="_blank">THREDDS</a>, <a href="http://geoserver.org/" target="_blank">GeoServer</a>, <a href="http://www.geotools.org/" target="_blank">GeoTools</a>, and <a href="http://52north.org/" target="_blank">52North</a>).</p>
        
        <h3><strong>Agile Software Development Methodology:</strong></h3>
        <p>OWI's management team incorporates feedback from developers to improve our methodology. Regular interaction with clients and project leaders generates tangible, reasonable implementation goals.</p>
        
        <h3><strong>Continuous integration infrastructure:</strong></h3> <p>Eliminates the busy work of building, testing, and deploying, freeing you up to write great software.</p>
        
        <h3><strong>Dedicated Administrative Staff:</strong></h3> <p>Collaborate with dedicated System Administrator and Database Administrator staff to achieve administrative-level requirements so that you can focus on development.</p>
        
        <h3><strong>Professional development:</strong></h3> <p>Paid travel to conferences, training opportunities, and meetings with collaborators.</p>
        
        <h3><strong>Publish your work:</strong></h3> <p>OWI supports employee publications in peer-reviewed journals and official USGS releases.</p>
        
        <h3><strong>Work with world class scientists:</strong></h3> <p>Project work includes international and domestic collaborations as part of unique and exciting projects.</p>
        
        <h3><strong>Workplace:</strong></h3> <p>Casual work environment, healthy work-life balance, opportunity to work remotely.</p>
        
        <h3><strong>Benefits:</strong></h3> <p>Excellent retirement programs, health insurance, holiday pay, sick leave, vacation time, and more!</p>
        
        <p>See <a href="http://www.usgs.gov/humancapital/pb/" target="_blank"><strong>USGS New Hire Pay and Benefits Information</strong></a> for more benefits information.</p>
        
    </div><!--benefits-->
    
    <div id="finding_jobs">
    
    	<h3><strong>Finding Jobs</strong></h3>
        
        <p>To be notified of upcoming openings, or to ask questions, please contact <a href="{{ url_for('person-canonical', person='jlucido') }}">Jessica Lucido</a>.</p>
        
        <p><a href="https://www.usajobs.gov/JobSearch/Search/GetResults?OrganizationID=IN08" target="_blank">USA Jobs</a> - Federal job listings</p>
        
    </div><!--finding_jobs-->
    
    <div id="interns">
    
    	<h3><strong>Student Resources</strong></h3>
        
        <p>Looking for an internship with the USGS Center for Integrated Data Analytics or elsewhere in the federal government? (<a href="http://www.usgs.gov/humancapital/sw/studentandrecentgrads.html" target="_blank">Read more here</a>)</p>
        
        <p>Looking to work outdoors within the federal government? (<a href="https://youthgo.gov/" target="_blank">Read more here</a>)</p>
    
    </div><!--interns-->
        
</div><!--container-->

{% endblock page_content %}
{% block footer_url %}{{ url_for('careers-canonical') }}{% endblock footer_url %}