{% extends 'base.html' %}

{% block title_description %}
    <title>Data Science at the USGS Office of Water Information</title>

    <meta name="description" content="The Role of the Data Science team at the USGS Office of Water Information"/>
{% endblock title_description %}
{% block page_content %}

    <div id="dsContent" class="container">


        <section class="segment">

            <h1>Data Science Team</h1>

            <p>
                To address the event-driven, rapidly changing needs of 21st- century society,
                water science must be open and data-driven, use the best available scientific
                methods, and rapidly communicate findings to the public using multiple platforms,
                including print, web, and social media. To support these needs, the USGS Office of
                Water Information (OWI) Data Science team has developed a foundation for rigorous and
                efficient data-driven scientific analysis, quick assembly of thematic teams and dissemination
                of contemporary science, and advancement of scientific computing best practices across the USGS and partners.
            </p>

            <p id="dsIntro">
                The OWI Data Science team, which is a cross-functional team of earth scientists, data analysts,
                and computer scientists, has four objective functions that are designed to increase the efficiency
                of USGS science and more effectively communicate its value to the Nation:
            </p>

            <div id="colorHolder">

                <a class="DScolor" id="dsTools" href="#toolsarea">Tools</a>

                <a class="DScolor" id="dsTraining" href="#trainingarea">Training</a>

                <a class="DScolor" id="dsViz" href="#vizarea">Visualizations</a>

                <a class="DScolor" id="dsResearch" href="#pubsarea">Research</a>
            </div>

            <div class="topFaceHolder">

                <div id="noMarginLeft" class="dataScienceFace">
                    <a href="{{ url_for('person-canonical', person='jread')}}">
                        <img src="{{ url_for('static', filename='images/professional_pages/jread.jpg') }}"/>
                    </a>
                    <p>Jordan Read</p>
                    <p><a class="contactScience" href="mailto:jread@usgs.gov">jread@usgs.gov</a></p>
                </div>
                <div class="dataScienceFace">
                    <a href="{{ url_for('person-canonical', person='lcarr')}}">
                        <img src="{{ url_for('static', filename='images/professional_pages/lcarr.jpg') }}"/>
                    </a>
                    <p>Lindsay Carr</p>
                    <p><a class="contactScience" href="mailto:lcarr@usgs.gov">lcarr@usgs.gov</a></p>
                </div>
                <div class="dataScienceFace">
                    <a href="{{ url_for('person-canonical', person='jzwart')}}">
                        <img src="{{ url_for('static', filename='images/professional_pages/jzwart.jpg') }}"/>
                    </a>
                    <p>Jacob Zwart</p>
                    <p><a class="contactScience" href="mailto:jzwart@usgs.gov">jzwart@usgs.gov</a></p>
                </div>

            </div>
            <div class="bottomFaceHolder">

                <div class="dataScienceFace">
                    <a href="{{ url_for('person-canonical', person='ldecicco')}}">
                        <img src="{{ url_for('static', filename='images/professional_pages/ldecicco.jpg') }}"/>
                    </a>
                    <p>Laura DeCicco</p>
                    <p><a class="contactScience" href="mailto:ldecicco@usgs.gov">ldecicco@usgs.gov</a></p>
                </div>
                <div class="dataScienceFace">
                    <a href="{{ url_for('person-canonical', person='aappling')}}">
                        <img src="{{ url_for('static', filename='images/professional_pages/aappling.jpg') }}"/>
                    </a>
                    <p>Alison Appling</p>
                    <p><a class="contactScience" href="mailto:aappling@usgs.gov">aappling@usgs.gov</a></p>
                </div>
                <div class="dataScienceFace">
                    <a href="{{ url_for('person-canonical', person='wwatkins')}}">
                        <img src="{{ url_for('static', filename='images/professional_pages/wwatkins.png') }}"/>
                    </a>
                    <p>David Watkins</p>
                    <p><a class="contactScience" href="mailto:wwatkins@usgs.gov">wwatkins@usgs.gov</a></p>
                </div>

            </div>

        </section>

        <section class="segment space" id="toolsarea">

            <h2 class="headerSpace">Tools</h2>

            <p>
                We build tools and software that enable reproducible data & modeling pipelines.
                The development of these tools is aligned with the architectural recommendations
                of the software development lifecycle best practices. We work with scientists to
                design, implement, and communicate reproducible workflows for earth science
                (primarily water science) that will satisfy USGS requirements for data access.
                Many of these tools take advantage of High-Throughput Computing (HTC) resources,
                and we often publish papers that describe novel analytical techniques, methods,
                and research applications.
            </p>

            <div class="packageHolder">
                <a href="https://github.com/USGS-R/dataRetrieval" target="_blank">
                    <div class="package">
                        <p>dataRetrieval</p>
                    </div>
                </a>

                <a href="https://github.com/USGS-R/geoknife" target="_blank">
                    <div class="package">
                        <p>geoknife</p>
                    </div>
                </a>

                <a href="https://github.com/USGS-R/sbtools" target="_blank">
                    <div class="package">
                        <p>sbtools</p>
                    </div>
                </a>

                <a href="https://github.com/USGS-R/streamMetabolizer" target="_blank">
                    <div class="package">
                        <p>streamMetabolizer</p>
                    </div>
                </a>

                <a href="https://github.com/USGS-R/EGRET" target="_blank">
                    <div class="package">
                        <p>EGRET</p>
                    </div>
                </a>

                <a href="https://github.com/USGS-R/toxEval" target="_blank">
                    <div class="package">
                        <p>toxEval</p>
                    </div>
                </a>

                <a href="https://github.com/USGS-R/netcdf.dsg" target="_blank">
                    <div class="package">
                        <p>netcdf.dsg</p>
                    </div>
                </a>

                <a href="https://github.com/USGS-R/glmtools" target="_blank">
                    <div class="package">
                        <p>glmtools</p>
                    </div>
                </a>

            </div>

        </section>

        <section class="segment" id="trainingarea">

            <h2 class="headerSpace">Training</h2>

            <p>
                To promote and enable more scientists to conduct efficient, data-driven analyses,
                we offer training in scientific computing workshops. We currently have three different
                workshops: Introduction to R, USGS OWI R Tools, and Advising in Scientific Computing.
                The Introduction to R workshops are typically 2-3 days long, are hands-on, and cover basic
                skills for using R for a reproducible, scalable, and transparent scientific workflow. The
                curriculum takes students through common data analysis workflow steps:
            </p>

            <a href="https://owi.usgs.gov/R/training-curriculum/intro-curriculum/" target="_blank">
                <img id="arrowImage" src="{{ url_for('static', filename = "images/ds_images/training_workflow.jpg") }}" alt="Training Workflow image"/>
            </a>

            <p>
                The USGS OWI R Tools workshop focuses on specific applications of R for earth science analyses,
                and teaches the basics of using OWI R packages. This course expects participants to have an intermediate
                level of R experience. Advising in Scientific Computing is an informal workshop where a group interested
                in developing their own R package can work with some of our experienced R package developers. The workshop
                covers version control (Git/GitHub), and package development best practices. By the end of the week, participants
                should have functioning package that they can continue to develop and maintain without the OWI team.
            </p>
            <div class="photoGalery">
                <a href="{{ url_for('static', filename = "images/ds_images/eread_teaching.jpg") }}" class="swipebox" title="Emily Read teaching R">
                    <img class="smallerImage" src="{{ url_for('static', filename = "images/ds_images/eread_teaching.jpg") }}" alt="Emily Read teaching R">
                </a>

                <a href="{{ url_for('static', filename = "images/ds_images/datacarpentry_lesson.jpg") }}" class="swipebox" title="Data Carpentry Lesson">
                    <img class="smallerImage" src="{{ url_for('static', filename = "images/ds_images/datacarpentry_lesson.jpg") }}" alt="Data Carpentry Lesson">
                </a>

                <a href="{{ url_for('static', filename = "images/ds_images/helena_1.jpg") }}" class="swipebox" title="Andrew Yan helping student with R">
                    <img class="smallerImage" src="{{ url_for('static', filename = "images/ds_images/helena_1.jpg") }}" alt="Andrew Yan helping student with R">
                </a>

                <a href="{{ url_for('static', filename = "images/ds_images/helena_2.jpg") }}" class="swipebox" title="Alison Appling teaching R">
                    <img class="smallerImage" src="{{ url_for('static', filename = "images/ds_images/helena_2.jpg") }}" alt="Alison Appling teaching R">
                </a>

                <a href="{{ url_for('static', filename = "images/ds_images/helena_3.jpg") }}" class="swipebox" title="R workshop in Helena, MT">
                    <img class="smallerImage" src="{{ url_for('static', filename = "images/ds_images/helena_3.jpg") }}" alt="R workshop in Helena, MT">
                </a>

                <a href="{{ url_for('static', filename = "images/ds_images/ftcollins_apr2016_1.jpg") }}" class="swipebox" title="R workshop in Ft Collins, CO">
                    <img class="smallerImage" src="{{ url_for('static', filename = "images/ds_images/ftcollins_apr2016_1.jpg") }}" alt="R workshop in Ft Collins, CO">
                </a>

                <a href="{{ url_for('static', filename = "images/ds_images/helena_4.jpg") }}" class="swipebox" title="R workshop in Helena, MT back of room">
                    <img class="smallerImage" src="{{ url_for('static', filename = "images/ds_images/helena_4.jpg") }}" alt="R workshop in Helena, MT back of room">
                </a>

                <a href="{{ url_for('static', filename = "images/ds_images/alacarte_mar2016_1.jpg") }}" class="swipebox" title="OWI Tools Middleton, WI">
                    <img class="smallerImage" src="{{ url_for('static', filename = "images/ds_images/alacarte_mar2016_1.jpg") }}" alt="OWI Tools Middleton, WI">
                </a>
            </div>

            <p>
                Please visit our <a href="http://owi.usgs.gov/R/">R Community website</a> for more information on Introduction to R training workshops.
                To learn more about USGS OWI R Tools or Advising in Scientific Computing contact <a href="mailto:gs-w_r_admin@usgs.gov">&lt;gs-w_r_admin@usgs.gov&gt;</a>
            </p>

        </section>

        <section class="segment" id="vizarea">

            <h2 class="headerSpace">Visualization Portfolio</h2>

            <p>
                We rapidly develop and deploy visualizations on current water issues as part of the USGS
                Visualization Lab (VIZLAB). These visualizations involve working with USGS scientists and
                partners to highlight timely science in accessible and appealing visual stories.
            </p>

            <div class="packageHolder">
               <div class="dsViz" id="dsWaterUse">
                    <a href="https://owi.usgs.gov/vizlab/water-use/">
                        <img src="{{ url_for('static', filename = 'images/ds_images/water-use.png') }}" alt="Water Use graphic"/>
                        <p><a>U.S. Water Use from 1950-Present </a></p>
                </div>
                
                                <div class="dsViz" id="dsMatthew">
                    <a href="https://owi.usgs.gov/vizlab/hurricane-matthew/">
                        <img src="{{ url_for('static', filename = 'images/ds_images/matthew_water2.png') }}" alt="Hurricane Matthew graphic"/>
                        <p><a>Map of Hurricane Matthew's water footprint</a></p>
                </div>
                
                <div class="dsViz" id="dsWalleyeBass">
                    <a href="https://owi.usgs.gov/vizlab/climate-change-walleye-bass/">
                        <img src="{{ url_for('static', filename = "images/ds_images/walleyeBass.png") }}" alt="Walleye-bass graphic"/>
                    </a>
                    <p><a>Walleye and bass response to climate change</a></p>
                </div>
				
				<div class="dsViz" id="dsHarvey">
                    <a href="https://owi.usgs.gov/vizlab/hurricane-harvey/">
                        <img src="{{ url_for('static', filename = "images/ds_images/harvey.png") }}" alt="Hurricane Harvey graphic"/>
                    </a>
                    <p><a>Hurricane Harvey's water footprint</a></p>
                </div>
                
                <div class="dsViz" id="dsLoCoDrought">
                    <a href="http://doi.gov/water/owdi.cr.drought/">
                        <img src="{{ url_for('static', filename = "images/ds_images/lc_drought.png") }}" alt="Lower Colorado River Basin drought image"/>

                        <p><a href="http://doi.gov/water/owdi.cr.drought/">Drought in the Colorado River Basin: Insights using open data</a></p>
                </div>
				
				<div class="dsViz" id="dsIrma">
                    <a href="https://owi.usgs.gov/vizlab/hurricane-irma/">
                        <img src="{{ url_for('static', filename = "images/ds_images/irma.png") }}" alt="Hurricane Irma graphic"/>
                    </a>
                    <p><a>Hurricane Irma's water footprint</a></p>
                </div>
                
                <div class="dsViz" id="dsMicroplastics">
                    <a href="https://owi.usgs.gov/vizlab/microplastics/">
                        <img src="{{ url_for('static', filename = "images/ds_images/microplast_thumb.jpg") }}" alt="microplastics thumbnail"/>
                    </a>
                    <p><a>Microplastics in our waterways</a></p>
                </div>
                
                <div class="dsViz" id="dsCaliDrought">
                    <a href="http://cida.usgs.gov/ca_drought/">
                        <img src="{{ url_for('static', filename = "images/ds_images/ca_drought.jpg") }}" alt="California drought Vizzy image"/>

                        <p><a href="http://cida.usgs.gov/ca_drought/">California drought, visualized with open data</a></p>
                </div>
				
				<div class="dsViz" id="dsMaria">
                    <a href="https://owi.usgs.gov/vizlab/hurricane-maria/">
                        <img src="{{ url_for('static', filename = "images/ds_images/maria.png") }}" alt="Huricane Maria image"/>

                        <p><a href="https://owi.usgs.gov/vizlab/maria/">Hurricane Maria's water footprint</a></p>
                </div>

            </div>

        </section>


        <section id="pubsarea">
            <h2 class="headerSpace">Recent publications</h2>

            <p>
                We collaborate with water science practitioners to tackle water resources questions
                that are analytically complex and computationally challenging, broad or highly resolved
                in space and time, and diverse in the type or structure of supporting data. This research
                portfolio demonstrates the value of a data-driven scientific approach through application
                of data science best practices, and is accomplished using transparent, scalable, and efficient
                data science approaches. Our group continues to identify, expand on, and share skills in the application
                of modeling approaches, machine learning, algorithm development, and remote sensing image processing to water science.
            </p>
            <br/>

            <h3>2017</h3>
    
<p>Blackwell, BR, GT Ankley , SR Corsi, <strong>LA DeCicco</strong>, KA Houck, RS Judson, S Li, MT Martin, E Murphy, AL Schroeder, ER Smith, J Swintek, DL Villeneuve. 2017. <a href="http://doi.org/10.1021/acs.est.7b01613">An "EAR" on Environmental Surveillance and Monitoring: A Case Study on the Use of Exposure–Activity Ratios (EARs) to Prioritize Sites, Chemicals, and Bioactivities of Concern in Great Lakes Waters</a>. Environmental Science and Technology. doi: 10.1021/acs.est.7b01613</p>
<br/>        
<p>Hampton SE, AWE Galloway, SM Powers, T Ozersky, KH Woo, RD Batt, SG Labou, CM O'Reilly, S Sharma, NR Lottig, EH Stanley, RL North, JD Stockwell, RAdrian, GA Weyhenmeyer, L Arvola, HM Baulch, I Bertani, LL Bowman, CC Carey, J Catalan, W Colom‐Montero, LM Domine, M Felip, I Granados, C Gries, HP Grossart, J Haberman, M Haldna, B Hayden, SN Higgins, JC Jolley, KK Kahilainen, E Kaup, MJ Kehoe, S MacIntyre, AW Mackay, HL Mariash, RM McKay, B Nixdorf, P Nõges, T Nõges, M Palmer, DC Pierson, DM Post, MJ Pruett, M Rautio, <strong>JS Read</strong>, SL Roberts, J Rücker, S Sadro, EA Silow, DE Smith, RW Sterner, GEA Swann, MA Timofeyev, M Toro, MR Twiss, RJ Vogt, SB Watson, EJ Whiteford, MA Xenopoulos. 2017. <a href="http://doi.org/10.1111/ele.12699">Ecology Under Lake Ice</a>. Ecology Letters. 20: 98-111. doi:10.1111/ele.12699</p>
<br/>
<p>Winslow, LA, GJ Hansen, <strong> JS Read</strong>, and M Notaro. 2017. <a href="http://doi.org/10.1038/sdata.2017.53">Large-scale modeled contemporary and future water temperature estimates for 10774 Midwestern US Lakes</a>. Scientific Data. doi: 10.1038/sdata.2017.53</p>
<br/>
<p>Jenni, KE, MG Goldhaber, JL Betancourt, JS Baron, RS Bristol, M Cantrill., PE Exter, MJ Focazio, JW Haines, LE Hay, L Hsu, VF Labson, KD Lafferty, KA Ludwig, PC Milly, TL Morelli, SA Morman, NT Nassar, TR Newman, AC Ostroff, <strong>JS Read</strong>, SC Reed, CD Shapiro, RA Smith, WE Sanford, TL Sohl, EG Stets, AJ Terando, DE Tillitt, MA Tischler, PL Toccalino, DJ Wald, MP Waldrop, A Wein, JF Weltzin, CE Zimmerman. 2017. <a href="https://doi.org/10.3133/ofr20171076">Grand challenges for integrated USGS science—A workshop report</a>. US Geological Survey Open-File Report 2017-1076. doi: 10.3133/ofr20171076</p>
     <br/>       
            <p>Oelsner, GP, LA Sprague, JC Murphy, RE Zuellig, HM Johnson, KR Ryberg, JA Falcone, EG Stets, AV Vecchia, ML Riskin <strong>LA De Cicco</strong>, TJ Mills, WH Farmer. 2017. <a href="https://doi.org/10.3133/sir20175006">Water-quality trends in the nation’s rivers and streams, 1972–2012—Data preparation, statistical methods, and trend results</a>. Scientific Investigations Report 2017-5006. doi: 10.3133/sir20175006</p>
            <br/>
            <p>Snortheim CA, PC Hanson, KD McMahon, <strong>JS Read</strong>, CC Carey, HA Dugan. 2017. <a href="https://doi.org/10.1016/j.ecolmodel.2016.10.014">Meteorological drivers of hypolimnetic anoxia in a eutrophic, north temperate lake</a>. Ecological Modelling. 343: 39-53. doi: 10.1016/j.ecolmodel.2016.10.014</p>
            <br/>
            <p>
              <strong>Read, EK</strong>, <strong>L Carr</strong>, <strong>LA De Cicco</strong>, HA Dugan, PC Hanson, JA Hart, J Kreft, <strong>JS Read</strong>. and LA Winslow, 2017. <a href="https://doi.org/10.1002/2016WR019993">Water quality data for national‐scale aquatic research: The Water Quality Portal.</a> Water Resources Research. doi: 10.1002/2016WR019993
            </p>
            <br/>

            <br/>
            <h3>2016</h3>

            <p>Baldwin AK, SR Corsi, <strong>LA De Cicco</strong>, PL Lenaker, MA Lutz, DJ Sullivan, KD Richards. 2016. <a href="https://doi.org/10.1016/j.scitotenv.2016.02.137">Organic contaminants in Great Lakes tributaries: Prevalence and potential aquatic toxicity.</a> Science of the Total Environment 554-555: 10.1016/j.scitotenv.2016.02.137. </p>
            <br/>
            
            <p>
              <strong>Read EK</strong>, M O'Rourke,GS Hong, PC Hanson , LA Winslow, S Crowley, CA Brewer, KC Weathers. 2016. <a href="https://doi.org/10.1002/ecs2.1291">Building the team for team science.</a> Ecosphere 7(3):e01291.10.1002/ecs2.1291. 
            </p>
            <br/>
            
            <p>
            Thieler ER, SL Zeigler, LA Winslow, MK Hines, <strong>JS Read</strong>, <strong>JI Walker</strong>. 2016. <a href="https://doi.org/10.1371/journal.pone.0164979">Smartphone-based distributed data collection enables rapid assessment of shorebird habitat suitability.</a> PLoS ONE. 11: e0164979. doi:10.1371/journal.pone.0164979
</p><br/>

<p>
Hansen GJ, <strong>JS Read</strong>, JF Hansen, LA Winslow. 2016. <a href="https://doi.org/10.1111/gcb.13462">Projected shifts in fish species dominance in Wisconsin lakes under climate change.</a> Global Change Biology. doi:10.1111/gcb.13462
</p><br/>
<p>
Winslow LA, S Chamberlain, <strong>AP Appling</strong>, <strong>JS Read</strong>. 2016. <a href="https://journal.r-project.org/archive/2016-1/winslow-chamberlain-appling-etal.pdf">sbtools: A package connecting R to cloud-based data for collaborative online research.</a> The R Journal. 8(1):387-98.
</p><br/>
<p>
Dugan HA, RI Woolway, AB Santoso, JR Corman, A Jaimes, ER Nodine, VP Patil, JA Zwart, JA Brentrup, AL Hetherington, SK Oliver, <strong>JS Read</strong>, KM Winters, PC Hanson, <strong>EK Read</strong>, LA Winslow, KC Weathers. 2016. Consequences of gas flux model choice on the interpretation of metabolic balance across 15 lakes. Inland Waters. 6: 581-592. doi:10.5268/IW-6.4.836
</p><br/>
<p>
<strong>Read JS</strong>, C Gries, <strong>EK Read</strong>, J Klug, PC Hanson, MR Hipsey, E Jennings, CM O'Reilly, LA Winslow, D Pierson, C McBride, DP Hamilton. 2016. Generating community-built tools for data sharing and analysis in environmental networks. Inland Waters. 6: 637-644. doi:10.5268/IW-6.4.889
</p><br/>
<p>
Brentrup JA, CE Williamson, W Colom-Montero, W Eckert, E de Eyto, H-P Grossart, Y Huot, P Isles, LB Knoll, TH Leach, CG McBride, D Pierson, F Pomati, <strong>JS Read</strong>, KC Rose, NR Samal, PA Stæhr, LA Winslow. 2016. The potential of high-frequency profiling to assess vertical and seasonal patterns of phytoplankton dynamics in lakes: An extension of the Plankton Ecology Group (PEG) model. Inland Waters. 6: 565-580. doi:10.5268/IW-6.4.890
</p><br/>
<p>
Winslow LA, JA Zwart, RD Batt, HA Dugan, RI Woolway, JR Corman, PC Hanson, <strong>JS Read</strong>. 2016. LakeMetabolizer: An R package for estimating lake metabolism from free-water oxygen using diverse statistical models. Inland Waters. 6: 622-636. doi:10.5268/IW-6.4.883
</p><br/>
<p>
KC Rose, LA Winslow, <strong>JS Read</strong>, GJA Hansen. 2016. <a href="https://doi.org/10.1002/lol2.10027">Climate-induced warming of lakes can be either amplified or suppressed by trends in water clarity.</a> Limnology and Oceanography Letters. 1: 44-53. doi:10.1002/lol2.10027
   </p><br/>
      
            <p>
              Blodgett D, <strong>E Read</strong>, J Lucido, T Slawecki, D Young. 2016. <a href="https://doi.org/10.1111/1752-1688.12417">An analysis of water data systems to inform the Open Water Data Initiative.</a> Journal of the American Water Resources Association. DOI: 10.1111/1752-1688.12417. 
            </p>
            
            <br/>

<div id="hiddenPubs">

            <h3>2015</h3>

            <p>O'Reilly CM*, S Sharma*, DK Gray*, SE Hampton*, <strong>JS Read</strong>, RJ Rowley, P Schneider, JD Lenters, and others.
                2015. <a href="http://onlinelibrary.wiley.com/doi/10.1002/2015GL066235/full">Rapid and highly variable warming of lake surface waters around the globe</a>. Geophysical Research Letters. 42, doi:10.1002/2015GL066235. *<i>joint first authors</i></p>
            <br/>

            <p><strong>Read JS</strong>, <strong>JI Walker</strong>, <strong>AP Appling</strong>, DL Blodgett, <strong>EK Read</strong>, <strong>LA Winslow</strong>. 2015. <a href="http://onlinelibrary.wiley.com/doi/10.1111/ecog.01880/abstract">geoknife: Reproducible web-processing of large gridded datasets</a>. Ecography. 38: 1-7. doi:10.1111/ecog.01880</p>
            <br/>

            <p>Hirsch RM, SA Archfield, <strong>LA De Cicco</strong>. 2015. <a href="http://www.sciencedirect.com/science/article/pii/S1364815215300220">A bootstrap method for estimating uncertainty of water quality trends. Environmental Modelling & Software</a>. 73: 148-66.</p>
            <br/>

            <p><strong>Read EK</strong>, V Patil, S Oliver, A Hetherington, J Brentrup, J Zwart, K Winters, J Corman, E Nodine, IR Woolway, H Dugan, A Jaimes, A Santoso, G Hong, <strong>LA Winslow</strong>, PC Hanson, KC Weathers. 2015. <a href="http://www.esajournals.org/doi/abs/10.1890/14-0935.1">The importance of lake-specific characteristics for water quality across the continental US.</a> Ecological Applications. 25: 943-955.</p>
            <br/>

            <p>Hipsey MR, DP Hamilton, PC Hanson, CC Carey, JZ Coletti, <strong>JS Read</strong>, SW Ibelings, F Valesini, JD Brookes. 2015. <a href="http://onlinelibrary.wiley.com/doi/10.1002/2015WR017175/full">Predicting the resilience and recovery of aquatic systems: A framework for model evolution within environmental observatories</a>. Water Resources Research. 51. doi:10.1002/2015WR017175</p>
            <br/>

            <p><strong>Read EK</strong>, M Bucknell, M Hines, J Kreft, J Lucido, <strong>JS Read</strong>, C Schroedl, D Sibley, S Stephan, I Suftin, P Thongsavanh, J Van Den Hoek, <strong>J Walker</strong>, M Wernimont, <strong>LA Winslow</strong>, and A Yan.  2015. <a href="http://journal.baygeo.org/new-insight-into-californias-drought-through-open-data/">New insight into California's drought through open data.</a> BAAMA Journal, 8(1). </p>
            <br/>

            <p>Hirsch, RM and <strong>LA De Cicco</strong>. 2015. <a href="http://pubs.usgs.gov/tm/04/a10/">User guide to Exploration and Graphics for RivEr Trends (EGRET) and dataRetrieval: R packages for hydrologic data</a>. No. 4-A10. US Geological Survey.</p>
            <br/>

            <p>Gil T, F Michel, V Ratnakar, <strong>JS Read</strong>, M Hauder, C Duffy, PC Hanson, H Dugan. 2015. <a href="http://www.isi.edu/~gil/papers/gil-etal-eswc15.pdf">Supporting Open Collaboration in Science through Explicit and Linked Semantic Description of Processes</a>. Proceedings of the Twelfth European Semantic Web Conference (ESWC), Portoroz, Slovenia, May 31-June 4 2015.</p>
            <br/>

            <p>Corsi SR, <strong>LA DeCicco</strong>, MA Lutz, RM Hirsch. 2015. <a href="http://www.sciencedirect.com/science/article/pii/S0048969714017148">River chloride trends in snow-affected urban watersheds: increasing concentrations outpace urban growth rate and are common among all seasons</a>. Science of the Total Environment. 508: 488-497. doi:10.1016/j.scitotenv.2014.12.012</p>
            <br/>


            <p>Woolway RI, ID Jones, DP Hamilton, SC Maberly, K Muraoka, <strong>JS Read</strong>, RL Smyth, <strong>LA Winslow</strong>. 2015. <a href="http://www.sciencedirect.com/science/article/pii/S136481521500122X">Automated calculation of surface energy fluxes with high-frequency lake buoy data</a>. Environmental Modelling and Software.  70: 191-198. doi:10.1016/j.envsoft.2015.04.013</p>
            <br/>

            <p>Sharma S*, DK Gray*, <strong>JS Read</strong>*, CM O'Reilly*, P Schneider, A Qudrat, C Gries, S Stefanoff, SE Hampton, S Hook, JD Lenters, and others. 2015. <a href="http://www.nature.com/articles/sdata20158">A global database of lake surface temperatures collected by in situ and satellite methods from 1985-2009</a>. Nature: Scientific Data. 2:150008. doi: 10.1038/sdata.2015.8. *<i>joint first authors</i></p>
            <br/>

            <p>Solomon CT, SE Jones, BC Weidel, I Buffam, ML Fork, J Karlsson, S Larsen, JT Lennon, <strong>JS Read</strong>, S Sadro, JE Saros. 2015. <a href="http://link.springer.com/article/10.1007/s10021-015-9848-y">Ecosystem consequences of changing inputs of terrestrial dissolved organic matter to lakes: current knowledge and future challenges</a>. Ecosystems.  18: 376-389. doi:10.1007/s10021-015-9848-y</p>
            <br/>

            <p><strong>Read JS</strong>, <strong>EK Read</strong>, KC Rose, <strong>LA Winslow</strong>. 2015. <a href="http://onlinelibrary.wiley.com/doi/10.1002/lom3.10006/abstract">A method for estimating the diffuse attenuation coefficient (KdPAR) from paired temperature sensors</a>. Limnology and Oceanography: Methods. 12: 53-61. doi:10.1002/lom3.2014.12.10006</p>
            <br/>

            <p><strong>Winslow LA</strong>, <strong>JS Read</strong>, GA Hansen, PC Hanson. 2015. <a href="http://onlinelibrary.wiley.com/doi/10.1002/2014GL062325/abstract">Small lakes show muted climate change signal in deep-water temperatures</a>. Geophysical Research Letters. doi:10.1002/2014GL062325</p>
            <br/>

            <p>Van Den Hoek J, <strong>JS Read</strong>, <strong>LA Winslow</strong>, P Montesano, CD Markfort. 2015. <a href="http://www.sciencedirect.com/science/article/pii/S0034425714004349">Examining the utility of satellite-based wind sheltering estimates for lake hydrodynamic modeling</a>. Remote Sensing of Environment. 156: 551-560. doi:10.1016/j.rse.2014.10.024</p>
            <br/>

            
                <h3>2014</h3>

                <p>Hamilton DP, CC Carey, L Arvola, P Arzberger, C Brewer, JJ Cole, E Gaiser, PC Hanson, BW Ibelings, E Jennings, TK Kratz, FP Lin, CG McBride, D de Motta Marques, K Muraoka, A Nishri, B Qin, <strong>JS Read</strong>, KC Rose, E Ryder, KC Weathers, G Zhu, D Trolle, JD Brookes. 2014. <a href="https://www.fba.org.uk/journals/index.php/IW/article/view/566/441">A Global Lake Ecological Observatory Network (GLEON) for synthesising high-frequency sensor data for validation of deterministic ecological models</a>. Inland Waters. 5: 49-56. doi:10.5268/IW-5.1.566</p>
                <br/>


                <p><strong>Winslow LA</strong>, <strong>JS Read</strong>, PC Hanson, EH Stanley. 2014. <a href="https://www.fba.org.uk/journals/index.php/IW/article/viewFile/740/438">Does lake size matter? Combining morphology and process modeling to examine the contribution of lake classes to population-scale processes</a>. Inland Waters. 5: 7-14. doi:10.5268/IW-5.1.740</p>
                <br/>

                <p><strong>Read JS</strong>, <strong>LA Winslow</strong>, GA Hansen, J Van Den Hoek, PC Hanson, LC Bruce, CD Markfort. 2014. <a href="http://www.sciencedirect.com/science/article/pii/S0304380014003664">Simulating 2,368 temperate lakes reveals weak coherence in stratification phenology</a>. Ecological Modelling. 291C: 142-150. doi:10.1016/j.ecolmodel.2014.07.029</p>
                <br/>

                <p>Rose KC, <strong>LA Winslow</strong>, <strong>JS Read</strong>, <strong>EK Read</strong>, C Solomon, R Adrian, PC Hanson. 2014. <a href="http://www.researchgate.net/publication/262636199_Improving_the_precision_of_lake_ecosystem_metabolism_estimates_by_identifying_predictors_of_model_uncertainty">Improving the precision of lake ecosystem metabolism estimates by identifying predictors of model uncertainty.</a> Limnology and Oceanography: Methods. 12: 303-312. doi:10.4319/lom.2014.12.303</p>
                <br/>

                <p><strong>Read EK</strong>, M Ivancic, PC Hanson, B Cade-Menun, and KD McMahon. 2014. Phosphorus speciation in a eutrophic lake by 31P NMR spectroscopy. Water Research. DOI: 10.1016/j.watres.2014.06.005</p>
                <br/>

                <p>Watras CJ, <strong>JS Read</strong>, K Holman, Z Liu, Y Song, A Watras, S Morgan, EH Stanley. 2014. <a href="http://onlinelibrary.wiley.com/doi/10.1002/2013GL058679/pdf">Decadal oscillation of lakes and aquifers in the upper Great Lakes region of North America: Hydroclimatic implications.</a> Geophysical Research Letters. doi:10.1002/2013GL058679</p>
                <br/>

                <p><strong>Winslow LA</strong>, <strong>JS Read</strong>, PC Hanson, EH Stanley. 2014. <a href="http://onlinelibrary.wiley.com/doi/10.1111/fwb.12258/pdf">Lake shoreline in the contiguous United States: Quantity, distribution and sensitivity to observation resolution.</a> Freshwater Biology. 59: 213-223. doi:10.1111/fwb.12258</p>
                <br/>

                <p>Cheruvelil KS, PA Soranno, KC Weathers, PC Hanson, SJ Goring, CT Filstrup, <strong>EK Read</strong>. 2014. <a href="http://www.esajournals.org/doi/pdf/10.1890/130001">Creating and maintaining high-performing collaborative research teams: the importance of diversity and interpersonal skills.</a> Frontiers in Ecology and Evolution. 12: 31-38. DOI: 10.1890/130001</p>
                <br/>

            </div>

            <p id="seeAll">See all publications >></p>
        </section>
        
        <section id="pubsarea">
            <h2 class="headerSpace">Awards and Honors</h2>
            
            <p>
              Winner, 2016 US Geological Survey Shoemaker Awards for External Communications Excellence. Awarded to <strong>Read E</strong>, <strong>J Walker</strong>, A Adams, D Bunk, C Touton, N Booth, <strong>A Appling</strong>, A Butler, D Button, A Danner, M Hines, D Pearson, <strong>JR Read</strong>, I Suftin, F Thompson, J Van Den Hoek, J Vrabel, M Wernimont, L Winslow for <a href="https://www.doi.gov/water/owdi.cr.drought/en/">Drought in the Colorado River Basin: Insights Using Open Data</a> in the category of Internet Communications.</p>
              <br/>
            <p>
              Finalist, 2015 National Science Foundation and Popular Science <a href="http://www.popsci.com/tags/vizzies">The Vizzies Visualization Challenge</a>. Awarded to <strong>Read E</strong>, M Bucknell, M Hines, J Kreft, J Lucido, <strong>JR Read</strong>, C Schroedl, D Sibley, S Stephan, I Suftin, P Thongsavanh, <strong>J Walker</strong>, M Wernimont, L Winslow, A Yan for <a href="https://cida.usgs.gov/ca_drought/">California Drought, Visualized with Open Data</a> in the category of Games & Apps.  
            </p>
        </section>

    </div><!--container-->

{% endblock page_content%}
{% block footer_url %}{{ url_for('datascience-canonical') }}{% endblock footer_url %}
