{% extends 'base.html' %}

{% block title_description %}
<title>USGS Office of Water Information</title>

<meta name="description" content="The official website of the USGS Office of Water Information."/>
{% endblock title_description %}

{% block page_specific_script %}
var sizeContent = makeSizeContentHandler("#tricky", '#newsfeed')
{% endblock page_specific_script %}

{% block page_content %}
<style>nav{display:none;}</style>

    <div class="container">
        <img src="static/images/large-blue.png" id="owiLogo" alt="OWI logo"/>
        <h1>Welcome to the Office of Water Information</h1>
        <p>
            We are committed to advancing USGS science by integrating data across scales and domains,
            improving access to data and research, and developing tools for analysis and visualization,
            fostering collaboration with the international community.
        </p>
        <div class="option">
            <a href="{{ url_for('people-canonical') }}"><p>People</p></a>
        </div>

        <div class="option">
            <a href="{{ url_for('products-canonical') }}"><p>Products</p></a>
        </div>

        <div class="option">
            <a href="{{ url_for('partners-canonical') }}"><p>Partners</p></a>
        </div>

        <div class="option">
            <a href="{{ url_for('careers-canonical') }}"><p>Careers</p></a>
        </div>

        <div class="option">
            <a href="https://owi.usgs.gov/blog/" target="_blank"><p>Blog</p></a>
        </div>
    </div>


{% endblock page_content %}

{% block footer_url %}{{ url_for('home-canonical') }}{% endblock footer_url %}
