{% extends 'base.html' %}

{% block page_specific_script %}
var sizeContent = makeSizeContentHandler(".partner_logo", '.description')
{% endblock page_specific_script %}

{% block page_content %}

<div class="container">

    <h1>OWI Partners</h1>
    <p>The Office of Water Information partners with federal, state, academic, and international organizations to build products to serve the scientific community</p>


    {% for partner in partners %}
    <div class="partner">

        <div class="partnerLogo">
            <a href="{{ partner['url'] }}" target="_blank"><img src="{{ url_for('static', filename ='images/partners/'+partner.get('image')) }}" alt="{{ partner['abbreviation'] }} logo"/></a>
        </div><!--partner_logo-->

        <div class="partnerInfo">

            <a href="{{ partner['url'] }}" target="_blank"><h3>{{ partner['name'] }}{% if partner['abbreviation'] %} ({{ partner['abbreviation'] }}){% endif %}</h3></a>

            <p>{{ partner['statement'] }}</p>

            <h4>OWI Collaborations with {% if partner['abbreviation'] %}{{ partner['abbreviation'] }}{% else %}{{ partner['name'] }}{% endif %}:</h4>

            {% if partner['collaborations'] and partner['collaborations']|length > 0 %}
            {% for collaboration in partner['collaborations'] %}
            <a href="{{ collaboration['url'] }}" target="_blank"><p>{{ collaboration['project'] }}</p></a>
            {% endfor %}
            {% endif %}

            <a href="{{ partner['url'] }}" target="_blank">
                <button>View Partner</button>
            </a>

        </div><!--partnerInfo-->

    </div><!--partner-->
    {% endfor %}





</div><!--container-->

{% endblock page_content %}
{% block footer_url %}{{ url_for('partners-canonical') }}{% endblock footer_url %}