<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">

<!-- ############### VIEWPORT META TAG ############### -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<!-- ################################################# -->

<title>USGS Center for Integrated Data Analytics</title>

<meta name="description" content="The official website of the Center for Integrated Data Analytics."/>

<meta name="keywords" content="people, USGS, CIDA, Morgan Schneider, Scott Lewein, David Blodgett, Mary Bucknell, Laura DeCicco, Carolyn Emmanuelli, Eric Everman, Ben Feinstein, Barry Heck, Paul Janda, Daniel Kester, Jim Kreft, Jessica Lucido, Cris Marsh, Alice McCarthy, Lorraine Murphy, Emily Read, Jordan Read, Phil Russo, Kathryn M. Schoephoester, Carl Schroedl, Shirley Stephan, Ivan Suftin, Dominick Pattermann, Phethala Thongsavanh, David Uselmann, Jordan I. Walker, Meredith Warren, Marty Wernimont, Andrew Yan, profiles, computer scientist, IT Specialist, Engineer, Graphic Designer, Web Designer, Chemist, Software Developer"/>

<meta name="author" content="Marty Wernimont"/>

<meta name="publisher" content="U.S. Geological Survey"/>

<meta name="created" content="20081020"/>

<meta name="revised" content="yyyymmdd"/>

<meta HTTP-EQUIV="expires" CONTENT="0"/>

<link href="css/cida.css" rel="stylesheet" type="text/css">

<link href="css/common.css" rel="stylesheet" type="text/css">

<link href='//fonts.googleapis.com/css?family=Scada:400,700' rel='stylesheet' type='text/css'>

<link rel="icon" type="image/ico" href="images/spike.ico"  />

<script type="text/javascript" src="js/jquery.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50382493-1', 'usgs.gov');
  ga('send', 'pageview');

</script>

<script type="application/javascript" src="http://www.usgs.gov/scripts/analytics/usgs-analytics.js"></script>

<script type="text/javascript" src="js/resize.js"></script>

<script>

//<page specific script>
var sizeContent = makeSizeContentHandler(".picture", '.quote')

//Initial load of page
$(document).ready(sizeContent);

//Every resize of window
$(window).resize(sizeContent);

</script>
</head>

<body>

<div id="container">

<header>
	
    <div id="usgslogo">
    <a href="http://www.usgs.gov/" target="_blank"><img src="images/usgslogo.jpg" alt="USGS logo"/></a>
    </div>
    
 	<div id="banner">
    	<img src="images/banner.png" alt="banner image"/>
    </div>
    
   <div id="headernav">
    
        <ul>
           <li><a href="http://www.usgs.gov/" target="_blank">USGS Home</a></li>
           <li><a href="http://www.usgs.gov/ask/index.php" target="_blank">Contact USGS</a></li>
           <li><a href="http://search.usgs.gov/" target="_blank">Search USGS</a></li>
        </ul>
        
    </div>

</header>

<nav><!--navstart-->

	<a href="index.html"><h1>Center for Integrated Data Analytics</h1></a>
	
    <ul>
    	<li><a href="index.html">HOME</a></li>
        <li><a href="people.html">PEOPLE</a>
        	<ul>
            	<li><a href="people.html">Employees</a></li>
                <li><a href="careers.html">Careers</a></li>
            </ul>
        </li>
        <li><a href="products.html">PRODUCTS</a></li>
        <li><a href="partners.html">PARTNERS</a></li>
    </ul>


</nav><!--navend-->

<!--mobile_html_start-->

<div id="mobileheader">

	<a href="index.html"><img id="mobilelogo" src="images/mobile_icons/mobilelogo.png" alt="mobile logo"/></a>
<div id="mobilenav">
	
    
    <div id="mobileicons">
    <ul>
   <li> <a href="index.html"><img src="images/mobile_icons/homeicon.png" alt="home icon"/></a></li>
    
        	
            	<li><a href="#"><img src="images/mobile_icons/people_mobile_icon.png" alt="people icon"/></a>
                	<ul>
                    	<li><a href="people.html">Employees</a></li>
                        <li><a href="careers.html">Careers</a></li>
                    </ul>
                </li>
           
            
          <li> <a href="products.html"><img src="images/mobile_icons/products_icon01.png" alt="products icon"/></a></li>
           
            <li><a href="partners.html"><img src="images/mobile_icons/partners_icon.png" alt="partners icon"/></a></li>
            </ul> 
            
        </div><!--mobileicons-->
            
</div><!--mobilenav-->

</div><!--mobileheader-->

<!--mobile_html_end-->


<div id="content">

<div id="cida_contact"><p id="emp">CIDA Contact:</p> <p>8505 Research Way Middleton, WI 53562 | 608-821-3820 | <a href="mailto:moschnei@usgs.gov?Subject=Question%20about%20CIDA" target="_top">moschnei@usgs.gov</a></p></div>

<div id="cida_contact_mobile"><p id="emp">CIDA Contact:</p> <p>8505 Research Way Middleton, WI 53562</p> <p>608-821-3820</p> <p><a href="mailto:moschnei@usgs.gov?Subject=Question%20about%20CIDA" target="_top">moschnei@usgs.gov</a></p></div>

<main>

	<article>
    
    	<section id="peopleContainer">
    
            <section class="person">
                
                <a href="people/moschnei.html"><img src="images/professional_pages/mschneider.jpg"/></a>
                    
                <h3 class="manager">Morgan Schneider</h3>
                
                <h4>CIDA Director</h4>
                
                 <a href="people/moschnei.html"><button>View Profile</button></a>

            </section>
            
            <section class="person">
                
                <a href="people/srlewein.html"><img src="images/professional_pages/slewein.jpg"/></a>
                
                <h3 class="manager">Scott Lewein</h3>
                
                <h4>Project Manager</h4>
                
                <a href="people/srlewein.html"><button>View Profile</button></a>
            
            </section>
			
			<section class="person">
                
                <a href="people/aappling.html"><img src="images/professional_pages/aappling.jpg"/></a>
                
                <h3>Alison Appling</h3>
                
                <h4>Data Science Postdoc</h4>
                
                <a href="people/aappling.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/dblodgett.html"><img src="images/professional_pages/dblodgett.jpg"/></a>
                
                <h3>Dave Blodgett</h3>
                
                <h4>Project Coordinator</h4>
                
                <a href="people/dblodgett.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/abramhall.html"><img src="images/professional_pages/wbramhall.jpg"/></a>
                
                <h3>Wes Bramhall</h3>
                
                <h4>Computer Scientist</h4>
                
                 <a href="people/abramhall.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/mbucknell.html"><img src="images/professional_pages/mbucknell.jpg"/></a>
                
                <h3>Mary Bucknell</h3>
                
                <h4>Electrical Engineer</h4>
                
                <a href="people/mbucknell.html"><button>View Profile</button></a>
            
            </section>
			
			<section class="person">
                
                <a href="people/lcarr.html"><img src="images/professional_pages/lcarr.jpg"/></a>
                
                <h3>Lindsay Carr</h3>
                
                <h4>Data Scientist</h4>
                
                <a href="people/lcarr.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/ldecicco.html"><img src="images/professional_pages/ldecicco.jpg"/></a>
                
                <h3>Laura DeCicco</h3>
                
                <h4>Civil Engineer</h4>
                
                <a href="people/ldecicco.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/mccullou.html"><img src="images/professional_pages/cemanuelli.jpg"/></a>
                
                <h3>Carolyn Emmanuelli</h3>
                
                <h4>IT Specialist</h4>
                
                <a href="people/mccullou.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/eeverman.html"><img src="images/professional_pages/eeverman.jpg"/></a>
                
                <h3>Eric Everman</h3>
                
                <h4>IT Specialist</h4>
                
                <a href="people/eeverman.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/bfeinstein.html"><img src="images/professional_pages/bfeinstein.jpg"/></a>
                
                <h3>Ben Feinstein</h3>
                
                <h4>IT Specialist</h4>
                
                <a href="people/bfeinstein.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/mhines.html"><img src="images/professional_pages/mhines.jpg"/></a>
                
                <h3>Megan Hines</h3>
                
                <h4>Scientist III</h4>
                
                <a href="people/mhines.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/bheck.html"><img src="images/professional_pages/bheck.jpg"/></a>
                
                <h3>Barry Heck</h3>
                
                <h4>IT Specialist</h4>
                
                <a href="people/bheck.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/pjanda.html"><img src="images/professional_pages/pjanda.jpg"/></a>
   
                <h3>Paul Janda</h3>
                
                <h4>Database Administrator</h4>
                
                <a href="people/pjanda.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/dkester.html"><img src="images/professional_pages/dkester.jpg"/></a>
                
                <h3>Daniel Kester</h3>
                
                <h4>Computer Scientist</h4>
                
                <a href="people/dkester.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/jkreft.html"><img src="images/professional_pages/jkreft.jpg"/></a>
                
                <h3>Jim Kreft</h3>
                
                <h4>IT Specialist</h4>
                
                <a href="people/jkreft.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/jlucido.html"><img src="images/professional_pages/jessicalucido.jpg"/></a>
                
                <h3>Jessica Lucido</h3>
                
                <h4>Project Manager</h4>
                
                <a href="people/jlucido.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/cmarsh.html"><img src="images/professional_pages/cmarsh.jpg"/></a>
                
                <h3>Cris Marsh</h3>
                
                <h4>Scientist II</h4>
                
                <a href="people/cmarsh.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/ajmccart.html"><img src="images/professional_pages/amccarthy.jpg"/></a>
                
                <h3>Alice McCarthy</h3>
                
                <h4>Physical Scientist</h4>
                
                <a href="people/ajmccart.html"><button>View Profile</button></a>
            
            </section>
			
			<section class="person">
                
                <a href="people/dpattermann.html"><img src="images/professional_pages/missing.jpg"/></a>
                
                <h3>Dominick Pattermann</h3>
                
                <h4>Computer Scientist</h4>
                
                <a href="people/dpattermann.html"><button>View Profile</button></a>
            
            </section>
			
			<section class="person">
                
                <a href="people/nquinn.html"><img src="images/professional_pages/missing.jpg"/></a>
                
                <h3>Nicholas Quinn</h3>
                
                <h4>Scrum Master</h4>
                
                <a href="people/nquinn.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/eread.html"><img src="images/professional_pages/eread.jpg"/></a>
                
                <h3>Emily Read</h3>
                
                <h4>Data Scientist</h4>
                
                <a href="people/eread.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/jread.html"><img src="images/professional_pages/jread.jpg"/></a>
                
                <h3>Jordan Read</h3>
                
                <h4>Data Scientist</h4>
                
                <a href="people/jread.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/kmschoep.html"><img src="images/professional_pages/kschoephoester.jpg"/></a>
                
                <h3>Kathryn M. Schoephoester</h3>
                
                <h4>IT Specialist</h4>
                
                <a href="people/kmschoep.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/cschroedl.html"><img src="images/professional_pages/cschroedl.jpg"/></a>
                
                <h3>Carl Schroedl</h3>
                
                <h4>Computer Scientist</h4>
                
                <a href="people/cschroedl.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/dsteinich.html"><img src="images/professional_pages/dsteinich.jpg"/></a>
                
                <h3>David Steinich</h3>
                
                <h4>Software Engineer</h4>
                
                <a href="people/dsteinich.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/sstephan.html"><img src="images/professional_pages/sstephan.jpg"/></a>
                
                <h3>Shirley Stephan</h3>
                
                <h4>Computer Scientist</h4>
                
                <a href="people/sstephan.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/isuftin.html"><img src="images/professional_pages/isuftin.jpg"/></a>
                
                <h3>Ivan Suftin</h3>
                
                <h4>Application Developer</h4>
                
                <a href="people/isuftin.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/thongsav.html"><img src="images/professional_pages/pt.jpg"/></a>
                
                <h3>Phethala Thongsavanh</h3>
                
                <h4>Computer Scientist</h4>
                
                <a href="people/thongsav.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/duselmann.html"><img src="images/professional_pages/duselmann.jpg"/></a>
                
                <h3>David Uselmann</h3>
                
                <h4>Software Engineer</h4>
                
                <a href="people/duselmann.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/jiwalker.html"><img src="images/professional_pages/jwalker.jpg"/></a>
                
                <h3>Jordan I Walker</h3>
                
                <h4>Computer Scientist</h4>
                
                <a href="people/jiwalker.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/mwarren.html"><img src="images/professional_pages/mwarren.jpg"/></a>
                
                <h3>Meredith Warren</h3>
                
                <h4>Project Coordinator</h4>
                
                <a href="people/mwarren.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/mwernimont.html"><img src="images/professional_pages/mwernimont.jpg"/></a>
                
                <h3>Marty Wernimont</h3>
                
                <h4>Graphic Designer</h4>
                
                <a href="people/mwernimont.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/lwinslow.html"><img src="images/professional_pages/lwinslow.jpg"/></a>
                
                <h3>Luke Winslow</h3>
                
                <h4>Data Scientist</h4>
                
                <a href="people/lwinslow.html"><button>View Profile</button></a>
            
            </section>
            
            <section class="person">
                
                <a href="people/ayan.html"><img src="images/professional_pages/ayan.jpg"/></a>
                
                <h3>Andrew Yan</h3>
                
                <h4>Chemist</h4>
                
                <a href="people/ayan.html"><button>View Profile</button></a>
            
            </section>
        
        </section><!--container-->
    
    </article>

</main>


<footer>
	<!--<div id="top">
    <a href="http://www.usgs.gov/" target="_blank">USGS Home</a>
    <a href="http://water.usgs.gov/" target="_blank">Water Resources</a>
    <a href="http://biology.usgs.gov/" target="_blank">Biology</a>
    <a href="http://www.usgs.gov/climate_landuse/" target="_blank">Geography</a>
    <a href="http://geology.usgs.gov/index.htm" target="_blank">Geology</a>
    <a href="http://www.usgs.gov/ngpo/" target="_blank">Geospatial</a>
</div>-->
    
    
<div id="middle">
    <a href="http://www.usgs.gov/laws/accessibility.html" target="_blank">Accessibility</a>
    <a href="http://www.usgs.gov/foia/" target="_blank">FOIA</a>
    <a href="http://www.usgs.gov/laws/privacy.html" target="_blank">Privacy</a>
    <a href="http://www.usgs.gov/laws/policies_notices.html" target="_blank">Policies and Notices</a>
</div><!--middle-->
    
    
<div id="bottom">
    	
    <a href="http://www.doi.gov/index.cfm" target="_blank">U.S. Department of the Interior</a> | <a href="http://www.usgs.gov/" target="_blank">U.S. Geological Survey</a>
    
    <p>URL: http//cida.usgs.gov/people.html</p>
    
    <p>Contact Information: <a href="mailto:cida_webmaster@usgs.gov?Subject=Hello%20again" target="_top">cida_webmaster@usgs.gov</a></p>
    
    <p>Page last modified: <script>
document.write(document.lastModified);
</script></p>

<div id="usa_gov">

	<a href="http://www.usa.gov/" target="_blank"><img src="images/usa_gov.png" alt="usa_gov pic"/></a>
    
</div>

<div id="take_pride">
    
    <a href="http://volunteer.gov/" target="_blank"><img src="images/take_pride.png" alt="take_pride pic"/></a>

</div>


</div><!--bottom-->
</footer>

</div><!--container-->

</body>
</html>
