{% extends 'base.html' %}

{% block title_description %}
<title>People at USGS Office of Water Information</title>

<meta name="description" content="All the people who work at the USGS Office of Water Information."/>
{% endblock title_description %}

{% block page_specific_script %}
var sizeContent = makeSizeContentHandler(".picture", '.quote')
{% endblock page_specific_script %}

{% block page_content %}

    <div class="flexContainer">

        {% for person in people %}
            <section class="person">

                <a href="{{ url_for('person-canonical', person=person.get('id') ) }}"><img src="{{ url_for('static', filename='images/professional_pages/'+person.get('photo')) }}"/></a>
                    
                <h4 {% if person.get('manager') == True  %}class="manager"{% endif %}>{{ person.get('name') }}</h4>
                
                <h5>{{ person.get('title') }}</h5>
                
                 <a href="{{ url_for('person-canonical', person=person.get('id') ) }}"><button>View Profile</button></a>

            </section>
        {% endfor %}

    </div>


{% endblock page_content %}
{% block footer_url %}{{ url_for('people-canonical') }}{% endblock footer_url %}