{% extends 'base.html' %}

{% block title_description %}
<title>{{ person.get('name') }} - USGS Office of Water Information</title>

<meta name="description" content="{{ person.get('name') }} at the USGS Office of Water Information."/>
{% endblock title_description %}

{% block page_specific_script %}
var sizeContent = makeSizeContentHandler("#headshot", '#contact')
{% endblock page_specific_script %}

{% block page_content %}


    <div class="container">

        <div class="contactSide">

        <a href="{{ url_for('people-canonical') }}" >
        <button>Back to People</button>
        </a>

            <div id="headshot">

                <img id="bigpic" src="{{ url_for('static', filename='images/professional_pages/'+person.get('photo')) }}" alt="Picture of {{ person.get('name') }}"/>

            </div><!--headshot-->

            <h3>{{ person.get('name') }}</h3>

            <h4>{{ person['title'] if person['title'] != None }}</h4>

            <h3 id="mobileContact">Contact</h3>

            {% if person['address'] and person['address']|length>0  %}
            {% if person.get('address').get('street2') %}<p>{{ person.get('address').get('street2') }}</p>{% endif %}
            <p>{{ person.get('address').get('city') }}, {{ person.get('address').get('state') }} {{ person.get('address').get('zip') }}</p>
            {% endif %}
            {% if person['phone'] != None %}<p>Phone: {{ person['phone'] }}</p>{% endif %}
            <p>Email: {{ person['accounts'].get('email') }}</p>

        </div><!--contactSide-->

        <div class="infoSide">
            {% if person['address'] and person['address']|length>0  %}
            <div id="education">

        	    <h3>Education</h3>


                {% for degree in person['education'] %}
                <p>{{ degree.get('degree')}}, {{ degree.get('institution')}}, {{ degree.get('year')}}{% if degree.get('note') and degree.get('note')|length >0 %} - {{ degree.get('note')}}{% endif %}</p>
                {% endfor %}


            </div><!--education-->
            {% endif %}
            {% if person['expertise'] and person['expertise']|length > 0 %}
            <div id="areas">

        	    <h3>Areas of Expertise</h3>
                {% for area_row in person['expertise']| batch(4) %}
           		<p>{% for area in area_row %} {{ area }}{% if not loop.last %} | {% endif %}{% endfor %} </p>
                {% endfor %}
            </div><!--areas-->
            {% endif %}

            {% if person['currentWork'] and person['currentWork']|length > 0 %}
            <div id="currentwork">

        	    <h3>Current Work</h3>
                {% for project in person['currentWork'] %}
                    {% if project.get('url') and project.get('url')|length >0 %}<p><a href="{{ project['url'] }}" target="_blank">{{ project.get('project') }}</a></p>
                        {% else %}<p>{{ project.get('project') }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div><!--currentwork-->

            {% if person['publications'] and person['publications']|length > 0 %}
                <div id="publications">

		        <h3>Publications</h3>

                    {% for year, publications in person['publications'] %}

                        <h4>{{ year }}</h4>
                        {% for publication in publications %}

						<p>{{ publication |safe }}</p>
                        {% endfor %}
                    {% endfor %}
                </div><!--publications-->
        {% endif %}

        {% if person['presentations'] and person['presentations']|length > 0 %}
		        <div id="presentations">

		        <h3>Presentations</h3>

                    {% for year, presentations in person['presentations'] %}
                        {% if year == 'unknown' %}{% else %}<h4>{{ year }}</h4>{% endif %}
                        {% for presentation in presentations %}

						<p>{{ presentation |safe }}</p>
                        {% endfor %}
                    {% endfor %}
                </div><!--presentations-->
        {% endif %}

        </div><!--infoSide-->

    </div>

{% endblock page_content %}
{% block footer_url %}{{ url_for('person-canonical', person = person['id'] ) }}{% endblock footer_url %}