{% extends 'base.html' %}

{% block title_description %}
<title>Featured projects at the USGS Office of Water Information</title>

<meta name="description" content="High profile projects at the USGS Office of Water Information."/>
{% endblock title_description %}

{% block page_specific_script %}
var sizeContent = makeSizeContentHandler(".product_picture", '.product_info')
{% endblock page_specific_script %}

{% block page_content %}

    <div class="container">

{% for product in products %}


    <div class="product">

        <div class="productPic">

            <a href="{{ product.get('url') }}" target="_blank"><img src="{{ url_for('static', filename='images/products/'+product.get('image')) }}" alt="{{ product.get('name') }}"/></a>

        </div>

        <div class="productInfo">

            <a href="{{ product.get('url') }}" target="_blank"><h2>{{ product.get('name') }}</h2></a>
    
            <p>{{ product.get('statement')|safe }}</p>

            <p>For questions, contact {{ product.get('questionName') }} <a href="mailto:{{ product.get('questionEmail') }}?Subject={{ product.get('name')| urlencode }}%20question" target="_top">({{ product.get('questionEmail') }})</a>.</p>


            <a href="{{ product.get('url') }}" target="_blank"><button>View Project</button></a>

        </div>

    </div>



{% endfor %}

</div><!--container-->

{% endblock page_content %}
{% block footer_url %}{{ url_for('products-canonical') }}{% endblock footer_url %}