{% extends 'base.html' %}

{% block title_description %}
<title>Featured projects at the USGS Office of Water Information</title>

<meta name="description" content="High profile projects at the USGS Office of Water Information."/>
{% endblock title_description %}

{% block page_specific_script %}
var sizeContent = makeSizeContentHandler(".product_picture", '.product_info')
{% endblock page_specific_script %}

{% block page_content %}


<div id="content">

<div id="about_cida"><p>OWI employs Agile software development to create useful web applications and transactional information systems in support of the earth sciences.</p></div>


{% for product in products %}
<div class="mobileholder">

<div class="product_picture">
	<a href="{{ product.get('url') }}" target="_blank"><img src="{{ url_for('static', filename='images/products/'+product.get('image')) }}" alt="{{ product.get('name') }}"/></a>
</div>

<div class="product_info">

	<a href="{{ product.get('url') }}" target="_blank"><h1>{{ product.get('name') }}</h1></a>
    
    <p>{{ product.get('statement')|safe }}</p>
    
    <p class="questions">For questions, contact {{ product.get('questionName') }} <a href="mailto:{{ product.get('questionEmail') }}?Subject={{ product.get('name')| urlencode }}%20question" target="_top">({{ product.get('questionEmail') }})</a>.</p>
		
    <div class="view"><a href="{{ product.get('url') }}" target="_blank">View Project</a></div>

</div><!--product_info-->

</div><!--mobileholder-->
{% endfor %}

</div>
{% endblock page_content %}
{% block footer_url %}{{ url_for('products-canonical') }}{% endblock footer_url %}